// External dependencies
import React from 'react';

// Internal dependencies
import { Component } from './{{ pascalCase name }}.styles';
import { {{ pascalCase name }}Props } from './{{ pascalCase name }}.types'

// Types
interface Props extends {{ pascalCase name }}Props {
	className?: string;
}

export const {{ pascalCase name }} = ({ className = '' }: Props): JSX.Element => {
	return (
		<Component className={`${className}`}></Component>
	);
};
